argparse==1.2.1
python-keystoneclient==1.2.0
python-novaclient==2.22.0
python-cinderclient==1.7.1
python-glanceclient==2.0.0
python-openstackclient==2.2.0
python-quantumclient==2.2.4.3
python-swiftclient==2.7.0
